/* GLOBAL STYLES
-------------------------------------------------- */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 1500px;
    background-color: white;
}

.card {
    background-color: #f3f7fa !important;
    border: none !important;
}

.section-card {
    background-color: white !important;
    border: none !important;
}

.Section {
    background-color: #f3f7fa;
}

// componets
.divider {
    margin-top: 30px !important;
    display: block;
    margin-top: -80px;
    padding: 20px;
    i {
        font-size: 30px;
        color: #51b0d3;
        margin-left: 120px;
    }
    hr {
        height: 8px;
        width: 100%;
        background: gray;
    }
}

.card {
    background-color: #f3f7fa;
    margin: 5px;
}

// end of compents

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.caption {
    height: 100px;
    width: 800px;
    background-color: #1c4261;
    color: black;
    opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev
/*, .carousel-indicators */

{
    position: absolute;
    filter: invert(100%);
}

// first section
@media (min-width: 768px) {
    .text-section {
        position: relative;
        .text-content {
            position: absolute;
            right: 0;
            bottom: -40;
        }
    }
}

// end of first section
.section4 {
    position: relative;
}

.section4img {
    position: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

.section4icon {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: #1c4261;
    border-radius: 260px;
    z-index: 3;
}

.section5 {
    .section5header {
        border-radius: 10px;
        padding: 10px;
        background-color: #1e6998;
        height: 90px;
        width: 100%;
        color: white;
    }
    .list-group-section5 {
        padding: 10px;
    }
    .list-group-section5 .list-group-item {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.6;
        color: #1c4261;
        border-top: 1px solid #1c4261;
        border-left-color: #fff;
        border-right-color: #fff;
    }
}

.section5 {
    .btn {
        background-color: #1e6998;
        color: white;
        width: 150px;
    }
}

.section7 {
    height: 300px;
}

@media (min-width: 768px) {
    .text-section7 {
        position: relative;
        .text-content {
            position: absolute;
            right: 0;
            bottom: -30;
        }
    }
}


/* Start Features */

.features {
    padding: 100px 0 60px
}

.features i {
    background-color: #1c4261;
    color: #FFF;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    line-height: 75px;
}

.features h3 {
    color: black;
    font-size: 22px;
}

.features p {
    color: #989898;
    margin-bottom: 40px
}


/* End Features */


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*# sourceMappingURL=style.css.map */